.layout {
	margin-top: 40px;
  color: #583D72;
  font-size: 18px;
  font-weight: bolder;
  margin-left: 150px;
}

.save {
  background-color: #583D72;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px 40px;
  width: 160px;
}

.space-button {
  margin-right: 850px;
}

.space-right {
  margin-left: 120px;
}

.title-attendances {
  color: #FF8474;
  font-weight: bolder;
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
}

.dropbtn {
  background-color: #9F5F80;
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px 40px;
}

.dropdown {
  display: inline-block;
  margin-right: 850px;
  margin-top: 40px;
  text-align: right;
}

.dropdown-content {
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: none;
  min-width: 160px;
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  display: block;
  padding: 12px 16px;
  text-decoration: none;
}

.dropdown-content a:hover { background-color: #ddd; }

.dropdown:hover .dropdown-content { display: block; }

.dropdown:hover .dropbtn { background-color: #583D72; }
