.bg_primary_check{
  background-color: #583D72;
  color: white;
  margin-right:5px;
}

.bg_secondary_check{
  background-color: #FF8474;
  color: white;
}

.caja_int{
  border-radius: 10px;
  border: solid 1px grey;
  box-shadow: 10px 5px 5px 5px black; 
  padding: 50px 30px 50px 30px;
}

.nav_log{
  background-color: #FF8474;
  color:white;
  height: 50px;
  left: 0px;
  padding:10px;
  position: absolute;
  text-align:right;
  top: 0px;
  width: 100%;
}

.nav_log a:hover{
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .caja_int {
    width:70%;
  }

  .botones{
    flex-flow: column;
  }

  .bg_primary_check{
    background-color: #583D72;
    color: white;
    margin-bottom:5px;
    margin-right:0px;
  }
}
