/* Split the screen in half */
  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .split h2{
    margin-top: 10%;
    text-align: center;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: rgb(255, 255, 255);
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: #FF8474;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 350px;
    //border-radius: 50%;
  }

  .buttom-log{
    background-color: #583D72;
  }
  
  /* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.split h2{
  margin-top: 10%;
  text-align: center;
  color:#9F5F80;
  font-weight: bold;
}

/* Control the left side */
.left {
  left: 0;
  background-color: rgb(255, 255, 255);
}

/* Control the right side */
.right {
  right: 0;
  background-color: #FF8474;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered-form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 350px;
}

.button-log{
  background-color: #583D72;
  border: none;
  color: white;
  padding: 15px 230px;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.in-email {
  height:17px;
  border: 0;
  width: 500px;
  margin-left: 10px;
  box-shadow: -8px 10px 0px -7px #ebebeb, 8px 10px 0px -7px #ebebeb;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
.in-email:focus {
  outline: none;
  box-shadow: -8px 10px 0px -7px #583D72, 8px 10px 0px -7px #583D72;
}

.in-password {
  height:17px;
  border: 0;
  width: 500px;
  margin-left: 10px;
  box-shadow: -8px 10px 0px -7px #ebebeb, 8px 10px 0px -7px #ebebeb;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
.in-password:focus {
  outline: none;
  box-shadow: -8px 10px 0px -7px #583D72, 8px 10px 0px -7px #583D72;
}

@media screen and (max-width: 700px){
  .split {
    height: 50%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .split h2{
    margin-top: 10%;
    text-align: center;
    padding: 0px 10px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: rgb(255, 255, 255);
  }
  
  /* Control the right side */
  .right {
    top: 50%;
    background-color: #FF8474;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
  }

  .centered-form{
    position: absolute;
    margin-top: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .centered img {
    width: 230px;
  }

  .button-log{
    background-color: #583D72;
    border: none;
    color: white;
    padding: 2px 60px;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .in-email {
    height:17px;
    border: 0;
    width: 280px;
    margin-left: 10px;
    box-shadow: -8px 10px 0px -7px #ebebeb, 8px 10px 0px -7px #ebebeb;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
  }
  .in-email.in-email[type=text]:focus {
    outline: none;
    box-shadow: -8px 10px 0px -7px #583D72, 8px 10px 0px -7px #583D72;
  }
  
  .in-password {
    height:17px;
    border: 0;
    width: 280px;
    margin-left: 10px;
    box-shadow: -8px 10px 0px -7px #ebebeb, 8px 10px 0px -7px #ebebeb;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
  }
  .in-password:focus {
    outline: none;
    box-shadow: -8px 10px 0px -7px #583D72, 8px 10px 0px -7px #583D72;
  }
}

