.split {
  height: 100%;
  overflow-x: hidden;
  padding-top: 20px;
  position: fixed;
  top: 0;
  width: 50%;
  z-index: 1;
}

.split h2{
  margin-top: 10%;
  text-align: center;
}

.left {
  background-color: rgb(255, 255, 255);
  left: 0;
}

.right {
  background-color: #FF8474;
  right: 0;
}

.buttom-log{
  background-color: #583D72;
}

.split {
  height: 100%;
  overflow-x: hidden;
  padding-top: 20px;
  position: fixed;
  top: 0;
  width: 50%;
  z-index: 1;
}

.split h2{
  color:#9F5F80;
  font-weight: bold;
  margin-top: 10%;
  text-align: center;
}

.left {
  background-color: rgb(255, 255, 255);
  left: 0;
}

.right {
  background-color: #FF8474;
  right: 0;
}

.centered-image{
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.centered-image img {
  width: 350px;
}

.centered-form{
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}


.button-log{
  background-color: #583D72;
  border-radius: 50px;
  border: none;
  color: white;
  display: inline-block;
  font-size: 16px;
  padding: 15px 230px;
  text-align: center;
  text-decoration: none;
}

.in-email {
  -webkit-transition: box-shadow 0.3s;
  border: 0;
  box-shadow: -8px 10px 0px -7px #ebebeb, 8px 10px 0px -7px #ebebeb;
  height:17px;
  margin-left: 10px;
  transition: box-shadow 0.3s;
  width: 500px;
}

.in-email:focus {
  box-shadow: -8px 10px 0px -7px #583D72, 8px 10px 0px -7px #583D72;
  outline: none;
}

.in-password {
  -webkit-transition: box-shadow 0.3s;
  border: 0;
  box-shadow: -8px 10px 0px -7px #ebebeb, 8px 10px 0px -7px #ebebeb;
  height:17px;
  margin-left: 10px;
  transition: box-shadow 0.3s;
  width: 500px;
}

.in-password:focus {
  box-shadow: -8px 10px 0px -7px #583D72, 8px 10px 0px -7px #583D72;
  outline: none;
}

@media screen and (max-width: 700px){
  .split {
    height: 50%;
    overflow-x: hidden;
    padding-top: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .split h2 {
    margin-top: 10%;
    padding: 0px 10px;
    text-align: center;
  }

  .left {
    background-color: rgb(255, 255, 255);
    left: 0;
  }

  .right {
    background-color: #FF8474;
    top: 50%;
  }

  .centered-image {
    left: 50%;
    position: absolute;
    text-align: center;  
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .centered-image img {
    width: 230px;
  }

  .centered-form {
    left: 50%;
    margin-top: 50px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .button-log {
    background-color: #583D72;
    border-radius: 50px;
    border: none;
    color: white;
    display: inline-block;
    font-size: 16px;
    padding: 2px 60px;
    text-align: center;
    text-decoration: none;
  }

  .in-email {
    -webkit-transition: box-shadow 0.3s;
    border: 0;
    box-shadow: -8px 10px 0px -7px #ebebeb, 8px 10px 0px -7px #ebebeb;
    height:17px;
    margin-left: 10px;
    transition: box-shadow 0.3s;
    width: 280px;
  }

  .in-email.in-email[type=text]:focus {
    box-shadow: -8px 10px 0px -7px #583D72, 8px 10px 0px -7px #583D72;
    outline: none;
  }

  .in-password {
    -webkit-transition: box-shadow 0.3s;
    border: 0;
    box-shadow: -8px 10px 0px -7px #ebebeb, 8px 10px 0px -7px #ebebeb;
    height:17px;
    margin-left: 10px;
    transition: box-shadow 0.3s;
    width: 280px;
  }

  .in-password:focus {
    box-shadow: -8px 10px 0px -7px #583D72, 8px 10px 0px -7px #583D72;
    outline: none;
  }
}
