@import 'dashboard';
@import 'menu_admin';
@import 'modal-side';
@import 'devise';
@import 'check';
@import 'reports';
@import 'attendance';
@import 'average';
@import 'employees';
@import 'companies';
