<div class="mt-4">
  <div class="d-grid">
    <%= link_to 'Back', employees_path, class: 'btn btn-warning'%>
  </div>
  <div class="d-grid mt-2">
    <%= form.submit "#{button_title}", :class => 'btn btn-success' %>
  </div>
</div>
