<h1 class="title-attendances">Daily attendances</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <p class="layout">Weekday</p> 
      </div>   
      <div class="col-sm">
        <div class="dropdown">
          <button class="dropbtn">Dropdown</button>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
      </div>      
    </div>
    <div class="row pb-5">
      <div class="col-sm mt-5">
        <p class="layout">Company</p>
      </div> 
      <div class="col-sm mt-5">
        <div class="dropdown">
          <button class="dropbtn">Dropdown</button>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
      </div>            
    </div>
    <div class="row mt-5">
      <div class="col-sm">
        <div class="space-right">
          <button class="save">Open</button>
        </div>
      </div>
      <div class="col-sm">
        <div class="space-button">
          <button class="save">Download</button>
        </div>
      </div>
    </div>
  </div>
 