<div class="container col-md-10 mt-5">
  <h1 class="title-reports">Reports</h1>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="card pointer">
            <div class="container">
              <h4 class="text-layout"> <%= link_to "Daily attendance", daily_attendance_path, class: "link-layout" %></h4> 
            </div>
          </div>
          <div class="card pointer">
            <div class="container">
              <h4 class="text-layout"><%= link_to "Average time in per month", average_time_in_path, class: "link-layout" %></h4>	
            </div>
          </div> 
        </div>
        <div class="col-sm">
          <div class="card pointer">
            <div class="container">
              <h4 class="text-layout"><%= link_to "Average time out per month", average_time_out_path, class: "link-layout" %></h4>	
            </div>
          </div> 
          <div class="card pointer">
            <div class="container">
              <h4 class="text-layout"><%= link_to "Monthly absence", monthly_absence_path, class: "link-layout" %></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
