<h1 class="title-reports">Reports</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card pointer">
          <div class="container">
            <h4 class="text-layout"><b>Daily attendance</b></h4>
          </div>
        </div>
				<div class="card pointer">
					<div class="container">
						<h4 class="text-layout"><b>Average time in/out per month</b></h4>	
					</div>
				</div> 
      </div>
      <div class="col-sm">
				<div class="card pointer">
					<div class="container">
						<h4 class="text-layout"><b>Monthly attendance</b></h4>
					</div>
				</div>
      </div>
      <div class="col-sm">
				<div class="card pointer">
          <div class="container">
            <h4 class="text-layout"><b>Monthly absences</b></h4>
          </div>
        </div> 
      </div>
    </div>
	</div>
</div>
