<div class="container col-md-10 mt-5">
  <h1 class="title-attendances">Daily attendances</h1>
  <div class="container">
    <h5 class="average-title-check">Companies</h5>
    <div class="d-flex flex-column">
      <% convert_to_option(@companies).each do |company| %>
        <%= link_to "#{company.first}", daily_attendance_pdf_path(company.second, company.first, format: :pdf), class: 'average-save mt-3', target: '_blank'%>
      <% end %>
    </div>
  </div>
</div> 
